body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#grandparent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30vh;
  height: 30vh;
  border: 2px solid black;
}

#parent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20vh;
  height: 20vh;
  border: 2px solid red;
}

#child {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 10vh;
  height: 10vh;
  border: 2px solid blue;
}